.post {
  text-align: center;
  width: auto;
  max-width: 40%;
  margin: 20px auto 20px auto;
  border-color: black;
  border-style: solid;
  border-width: 5px;
  border-radius: 20%;
  padding: 20px 0px 20px 0px;
}

.posts-container {
  display: relative;
  text-align: center;
  width: 80%;
  margin: auto;
}

.nav {
  text-align: center;
}